<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Apartment</title>
</head>
<body>
    <h2>add Apartments</h2>
    <form method="post" action="/admin/apartmentDB" enctype="multipart/form-data">
    <input type="number" name="monthlyCost" placeholder="Monthly Cost">
    <input type="text" name="space" placeholder="Space">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="location" placeholder="Location">
    <input type="number" name="roomCount" placeholder="Number of rooms">
    <input type="number" name="roommates" placeholder="Number of roomates">
    <input type="number" name="Remaining" placeholder="Number of remaining roomates">
    <input type="text" name="ownerName" placeholder="Owner Name">
    <input type="number" name="ownerPhone" placeholder="Owner Phone">
    <input type="file" name="apatrmentImage" placeholder="apatrment Image" >
    <input type="submit" >
    </form>
</body>
</html>